/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    padding: 15px 80px;
    background: #07143f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav .logo {
    font-size: 22px;
    font-weight: 400;
}

.nav .name {
    font-size: 22px;
    font-weight: 200;
}

/* responsive */
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }

}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
}

@media screen and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }
}